body {
    background-image:url('https://media.tenor.com/nmYivitheeMAAAAC/crying.gif'); background-size:cover;
  }
.footie {
    color:aliceblue;
    font-size: 50px;
}
.btn {
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: aliceblue;
    border-radius: 10px;
}